<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article Evaluator</title>
</head>

<body>
    <header>
        <h1>News Article Evaluator</h1>
    </header>

    <main>
        <section>
            <form onsubmit="return Client.handleSubmit(event)">
                <label for="url">Enter the URL of the article you want to evaluate</label>
                <input id="url" type="text" name="input" placeholder="Enter a valid URL..." onchange="Client.handleTextChange()" />
                <input id="submitButton" type="submit" value="Evaluate" />
            </form>
        </section>

        <section>
            <strong>Evaluation Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>Ahmed Farid - Egypt FWD - Front End Web Development Advanced Nanodegree Program - Project 1 - April 2021</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>