<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article Evaluator</title>
</head>

<body>
    <header>
        <h1>This is a header</h1>
    </header>

    <main>
        <section>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" />
                <input type="submit" value="submit" />
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
</body>

</html>